.bg-light {
    background-color: #ff5342 !important;
}

.navbar-brand {
    color: rgb(255, 255, 255) !important;
    font-size: 25px !important;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Comfortaa', cursive;
    font-weight: bold;
    position: relative;
    left: 50px;
}

#navbarSupportedContent {
    margin-left: 50%;
}

.nav-item {
    padding-right: 105px;
    font-size: 20px !important;
}

.bg-light {
    background-color: #ff5342 !important;
}

.bg1-light {
    background-color: #0060df;
}

.bg-light1 {
    background-color: rgb(117, 0, 0);
}